<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHVWaZnPymgagDNHlbVQXZhTfv4VvQ1MA</string>
	<key>GCM_SENDER_ID</key>
	<string>832607314558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practiceLearningApp</string>
	<key>PROJECT_ID</key>
	<string>codefactory-4f72b</string>
	<key>STORAGE_BUCKET</key>
	<string>codefactory-4f72b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832607314558:ios:7558454ec26e1c6c46ee2f</string>
</dict>
</plist>